<!DOCTYPE html>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE : $CONTENT_TITLE">Guestbook-SpringBoot  </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"  xmlns:th="http://www.w3.org/1999/xhtml"/>
</head>
<body>
    <div th:replace="/fragments/header"></div>

    <div class="container" style="margin-top:80px;margin-bottom:80px">
        <div layout:fragment="content"></div>
    </div>

    <div th:replace="/fragments/footer"></div>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>